useDynLib(HierBasis)

importFrom(Rcpp, evalCpp)
import(Matrix)

export(HierBasis, AdditiveHierBasis, GetDoF.HierBasis, view.model.addHierBasis, GetDoF.addHierBasis)


S3method(print, HierBasis)
S3method(predict, HierBasis)

S3method(print, addHierBasis)
S3method(plot, addHierBasis)
S3method(predict, addHierBasis)
